<script>
  $('#lockPattern').attr('id', 'xyz');
</script>
  <ion-view view-title="LAB AUTOMATION" class ="imagew" hide-back-button="true">
    <ion-content>
        <div class="list">
  <a class="item item-icon-left" ui-sref="sms">
    <i class="icon ion-chatbubble-working"></i>
    SMS
  </a>

  <a class="item item-icon-left" ui-sref="blue">
    <i class="icon ion-bluetooth"></i>
    Bluetooth
  </a>

  <a class="item item-icon-left" ui-sref="settings">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>

  <a class="item item-icon-left" ui-sref="credit">
    <i class="icon ion-person-stalker"></i>
    Credits
  </a>
</div>
    </ion-content>
  </ion-view>

