<ion-view view-title="Login" name="login-view" hide-back-button="true">
    
  <ion-content >
      <div class="row row-top">
          <div class="col"></div>   
      <div class="col col-90">
      <div ng-hide="log_pattern">
  <h2 class="assertive">Please set your login pattern!</h2>
          </div>
         </div> 
      </div>
      <div class="row row-center">
       <div class="col"></div>
      <div class="col col-90">
      <div id="lockPattern" class="pattern-holder patt-holder"></div>
         
    </div>
         
 </div>

  </ion-content>
</ion-view>

