


 <ion-view title="Text" class ="imagew">
    <ion-content >
        
<!--New addition-->

<div class="item item-text-wrap">
    <ul class="list">
     
      <div class="list">
        <div class="item item-button-right">
          Light
          <div class="buttons">
            <button class="button button-outline button-positive" ng-click="sendSMS(1)">On</button>
            <button class="button button-outline button-positive" ng-click="sendSMS(2)">Off</button> 
          </div>
        </div>
      </div>

      <div class="list">
        <div class="item item-button-right">
          Fan
          <div class="buttons">
            <button class="button button-outline button-positive" ng-click="sendSMS(3)">On</button>
            <button class="button button-outline button-positive" ng-click="sendSMS(4)">Off</button> 
          </div>
        </div>
      </div>

      <div class="list">
        <div class="item item-button-right">
          Tube
          <div class="buttons">
            <button class="button button-outline button-positive" ng-click="sendSMS(5)">On</button>
            <button class="button button-outline button-positive" ng-click="sendSMS(6)">Off</button> 
          </div>
        </div>
      </div>

      <div class="list">
        <div class="item item-button-right">
          Plug
          <div class="buttons">
            <button class="button button-outline button-positive" ng-click="sendSMS(7)">On</button>
            <button class="button button-outline button-positive" ng-click="sendSMS(8)">Off</button> 
          </div>
        </div>
      </div>

    </ul>
</div>

<!--New addition-->
    </ion-content>
  </ion-view>